body{
    font-family: Arial, sans-serif;
    text-align:center;
    background: linear-gradient(180deg, #ffe6e6, #fff0f0);
    padding:20px;
}

h1{
    color:white;
    background:#d90429;
    padding:20px;
    border-radius:12px;
}

.container{
    max-width:400px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    margin-top:20px;
}

input{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    background:#d90429;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    transition: all 0.3s ease;
}

button:hover{
    transform: translateY(-2px);
    background:#f02739;
}

.card{
    background:#fff0f0;
    padding:15px;
    margin-top:15px;
    border-radius:12px;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
    text-align:left;
}

#results{
    margin-top:20px;
}